/************************************************
	File name:  custom.css;
	Author:  Amanda Padilha;
	Date:  Sep 07, 2022;

	Index
	0. Reset
	1. General
	2. Header
	3. Images
	4. Table of Contents
	5. Stats
	6. Footer

 ***********************************************/
 
/*************************************
	0. Reset
*************************************/

/*************************************
	1. Body
*************************************/

body {
	font-family: 'Roboto', sans-serif;
}

::selection {
	background: #ffe0b2;
	color: #5e35b1;

}

h1 {
	font-size: 48px;
	line-height: 120%;
	font-weight: 300;

}

h2 {
	font-size: 24px;
	line-height: 120%;
	font-weight: 200;
}

h3 {
	font-size: 20px;
	color: #ffa726;
	font-weight: 500;
	margin: 0px;
	line-height: 140%;

	
}

h4 {
color: #A862EA;
font-size: 20px;
font-weight: 600;
}

h5 {
font-size: 24px;
font-weight: 600;

}




/*************************************
	2. Header
*************************************/
header#hero{

color: white;
background: linear-gradient(120deg, #6545A4, #A862EA)
}

header nav {
color: white;
background: linear-gradient(120deg, #6545A4, #A862EA);


-webkit-box-shadow: none;
box-shadow:  none;

position: fixed; 
top: 0; 
width: 100%;
z-index: 2;
}

header nav ul a{
    display: flex;
}


header nav ul li a i{
	font-size: 18px !important;
	margin-right: 5px;
}

header #botaoencontreiro {
	border:  solid;
	border-width: 1px;
	display: flex;
	height: 38px;
	margin-top: 12px;
	padding: 0px 16px 0px 13px;
	border-radius: 3px;
	margin-bottom: 14px;
}

header #botaoparticipe {
	font-weight: 600;



}
header #main-message{
	height: 500px;

}

header #hero-title h1 {
	margin-bottom: -4px;

}

header #hero-subtitle h2 {
	margin-bottom: 24px;
	margin-top: 16px;

}

header #header-logo {


}

header .item-menu {


}

#call-to-scroll {
	color: #6545A4;
	font-size: 16px;
	font-weight: 600;
	margin-top: 24px;


}

 #call-to-scroll i {
	font-size: 50px;

}

 #call-to-scroll .cta {
	margin-bottom: -2px;
	font-size: larger;

}
header a.brand-logo {
	padding: 0px;
	margin-top: 10px;
}
 
 header #main-message .col {
 	padding: 0px;

 }
 
 header #main-message a {
 	color: #6545A4;
 	font-weight: 600;

 }

 header #background-photo {

 background-image: url(../images/back12.png);
 background-size: 1600px;
 background-repeat: no-repeat;
 background-position: 0% 100%;
 background-attachment: fixed;

 }

 #main-letter {
	height: 500px;
 }


/*************************************
	3. Images
*************************************/
.card-action {
	position: absolute;
	height: 68px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}


#images-card .btn {
	position: absolute ;
	height: 36px;
	left: 7.66%;
	right: 7.66%;
	bottom: 16px;
	background-color: #ffa726 ;
	color: #5e35b1 !important ;
	font-weight: 600;

}

#images-card .btn:hover {
	background-color: #6545A4;
	color: #ffa726 !important;
	
}

.titulo-card {
	font-weight: 600;
	font-size: 16px;
	display: flex;
	margin-bottom: 8px;
	color: #5e35b1;
}

.date-badge {
	font-weight: 600;
	font-size: 12px;
	padding: 4px 8px 4px 8px;
	background-color: #ad8ccc;
	border-radius: 4px;
	display: flex;
	width:fit-content;
	color: white;

}

.date-badge i {

	padding-right: 4px;
}

.paragrafo{
	padding-top: 8px;
	
}
.card-image img {
	width: auto;
	height: auto;
}

/*************************************
	5. Stats
*************************************/
#stats-image {
background-image: url(../images/gincana.png);
 background-repeat: no-repeat;
 background-position: 0% 50%;
 background-attachment: fixed;
 background-size: 1600px;
}

#stats-ejc {
padding: 50px 0px 50px 0px;
text-shadow: 0px 0px 10px #FFFFFF;
}


.main-stats {
color: #ffa726;
font-size: 64px;
font-weight: 600;

}

.main-stats-sub {
color: #5e35b1;
font-size: 16pxpx;
font-weight: 700;


}

/*************************************
	6. Footer
*************************************/

footer {
	color: white;
	background: linear-gradient(120deg, #6545A4, #A862EA);
}

#redes-sociais {
	 display: flex;
}

#redessociais ul li a i {
	margin-right: 2px;
}







